body{
    background-image: url(/img/music.jpg);
    background-size: cover;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    color: white;
    justify-content: center;
    display: flex;
    
}
.her{
    font-size: 24px;
    color: white;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: italic;
     }
      

p{
    font-size: 15px;
    margin: 0;
    color: white;
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 380px;
}

video{
    width: 200px;
    
}




